@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway|Roboto');
body{
	background: #F4F4F4;
   
}
/*
.colrigth{
     display: flex;
    
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
}
*/




/*HEADER*/


/*INDEX*/

.in_mas{
  width: 60px;
    position: fixed;
    left: 140px;
    margin: 20px;
    z-index: 5;
    margin-top: 10px;
    position: fixed;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.in_mas:hover{
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
img.in_logotipo {
    width: 120px;
    position:fixed;
    left: 0px;
    margin: 20px;
    z-index: 5;
    margin-top: 15px;
    position: fixed;
}
.in_titulopag{
   font-family: 'Roboto',sans-serif;
    color: #424141;
    width: auto;
    font-size: -webkit-xxx-large;
    margin: 20px;
        position: absolute;
    left: 0px;
    z-index: 5;
    position: fixed;
}
ul {
    list-style-type: none;
    margin: 0;
    margin-left: -10px;
    margin-top: -35px;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
    border-style: solid;
    border-color: #424141;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: fixed;
    background: white;
    width: 101%;
    z-index: 3;
}

li {
    float: left;
}

li a {
   display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 25px;
    text-decoration: none;
    height: 20px;
    border-style: solid;
    font-family: 'Roboto',sans-serif;
    color: #424141;
    border-radius: 5px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: tomato;
    color:white;
    

}
a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}
/*HEADER*/

main{
    /* margin-top: 00px; */
    position: relative;
    top: 90px;
}
.in_contiene {
    display: flex;
    padding: 0;
    /* column-width: 320px; */
    /* column-gap: 15px; */
    /* column-count: 2; */
    margin: 0;
    margin-top: -40px;
}

#leftu{
    float: right;
}
.in_colright{
     column-width: 320px;
    column-gap: 15px;
    column-count: 3;
    max-width: 1000px;
    margin: 50px auto;
    display: inline-block;
    /* width: 40%; */
}
.in_coleft{
        column-width: 320px;
    column-gap: 15px;
    column-count: 2;
    width: 30%;
    display:inline-block;
    /* max-width: 1100px; */
    margin: 0;
    margin-top: 55px;
   
}
.in_col1{
    display: inline-block;
    float: left;
}
.in_imgs{
	float: left;
	width:100%;
	padding: 0;
	margin:0;
  background-color: #2F2F2F;
	border-radius: 7px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
  background-color: #191919;
}
.in_overlay{
    display: block;
    position: absolute;
    justify-content: center;
    margin: 0;
    width: 20em;
    margin-left: 0;
    opacity: 0;
    border-radius: 7px;
}
.in_texto{
      display: block;
    text-align: center;
    width: auto;
    font-family: 'Roboto', sans-serif;
    color: #282828;
    text-transform: uppercase;
    pointer-events: none;
  
}
.in_info2{
     position: relative;
    padding: 5px;
    border: 1px solid #777777;
    border-radius: 2px;
    color: #585858;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 5px;
    float: right;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
      justify-content: center;
    display: flex;
   
}
.in_info3{
     position: relative;
    padding: 5px;
    border: 1px solid #777777;
    border-radius: 2px;
    color: #585858;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 5px;
    float: right;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
      justify-content: center;
    display: flex;
   
}

.in_contain:hover + .in_overlay{
  opacity: 1;
  transition: 0.5s;
}
.in_contain:hover{
  opacity: 0.1;
  transition: 0.3s;
}
.in_overlay:hover{
  opacity:1;
  background-color: white;
  background-color: rgba(255, 255, 255,0.8);
  transition: 0.5s;
}

.in_ficha{
	
  padding: 0px;
  width:20em;
  margin:5px;

  border-radius: 10px;
 border-width: 1,5px;
 border-style:solid;
 border-color:#373737;
   display: inline-block;
  
}
.in_line {
    width: 100px;
    position: relative;
    display: inline-block;
    margin-top:10px;
    padding: 0;
    left: 15px;
}
.in_tituloficha {
    padding: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: 5px;
    color: #454545;
    font-family: 'Roboto', sans-serif;
}
.in_tituloficha>span{
	color: #6C6C6C
}


.in_descripcion{
     /* border: 1px solid #000; */
    text-align: center;
    height: 0px;
    position: relative;
    /* width: 290px; */
    top: 10px;
    /* bottom: 15em; */
    /* justify-content: center; */
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    color: #282828;
    text-transform: uppercase;
    display: none;
    margin: 0px;
    /* margin-left: 20px; */
   
}
.in_imgs:hover + .in_descripcion{
  transition: 0.5s;
  display: block;
}
.in_desc{
	    /* justify-content: center; */
    margin: 0;
    padding-right: 0;
    padding-left: 10px;
    /* text-align: center; */
    font-family: 'Roboto', sans-serif;
    color: #c7c3c3;
    text-transform: uppercase;
    font-size: 2em;
    margin: 10px;
}
.in_info{
	    position: relative;
    padding: 5px;
    border: 1px solid #777777;
    border-radius: 2px;
    color: #585858;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 5px;
    float: right;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}

.in_profinfo{
         position: relative;
    padding: 5px;
    width: 100px;
    top: -37px;
    right: 0px;
    border: 1px solid #777777;
    border-radius: 2px;
    color: #585858;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 5px;
    float: right;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}




/*COMMENTS*/
.in_comentname{
   margin: 0;
    margin-left: 35px;
    margin-bottom:10px; 
     font-family: 'Roboto', sans-serif;
      color:tomato;
}
.in_coment{
    
    margin: 0;
    margin-bottom:5px;
    border-radius: 5px;
    width: 95%;
    border-width: 1.5px;
 border-style:solid;
 border-color:#373737;
 height: 240px;

}
.in_fecha{
    margin: 0;
    margin-left: 35px;
    margin-bottom:10px; 
     font-family: 'Roboto', sans-serif;
      color:#3E3E3E;
}
.in_profo{
width: 60px;
height: auto;
border-radius: 50%;
border: solid;

margin: 10px;
margin-left: 30px;
}
.in_cobox{
  max-width: 100%;
  height: 40px;
}
.in_coparraf{
 
       justify-content: space-around;
    margin: 0;
    padding-right: 35px;
    padding-left: 35px;
    text-align: justify;
     font-family: 'Roboto', sans-serif;
      color:#3E3E3E;
         white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

}

a.in_colink{
   
  
     position: relative;
    padding: 5px;
    border: 1px solid #777777;
    border-radius: 2px;
    color: #585858;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: block;
    opacity: 0.65;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 5px;
     /* float: right; */
    margin-right: 10px;
    margin-left: 10px;
     font-family: 'Roboto', sans-serif;

      
}

.in_profoname{
    margin: 0;
    margin-left: 35px;
    margin-bottom:10px; 
     font-family: 'Roboto', sans-serif;
      color:#3E3E3E;
}

/*HEADER*/

/*HAMBURGUESA*/
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * All rights reserved
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
 /* Footer */

.in_footer>h4{

}

.in_copyright{

  font-family: 'Mada', sans-serif;
  font-size: 100%;
  color:#2E2E2E;
  text-align: center;
  background: #edeeee;
  padding: 2.5%;
  margin: 0 !important;
  bottom:0;

}

.iconset-mail-alt{
  margin-right: 5%;
}

.iconset-phone{
  margin-right: 3%;
}


.in_footer a{
  text-decoration: none;
  color: white;
}

.in_footer a:visited{
  color: white;
}

.in_footer a:hover{
  color: tomato;
}

.in_footer {
    position: relative;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
    background-color: #403f3f;
    bottom: 0;
    width: 100%;
    left: 0;
    padding-top: 1%;
    border-style: solid;
    border-color: #363636;
    margin-top: 100px;
    border-radius: 5px;
}

.in_contacto h4,p{

margin: 1% ;

}
p.in_descripcion{
  margin: 0;
}
/*Footer*/

@media (max-width:916px) {
header{
    background-color: white;
    height: 100px;
    width: 101%;
    z-index: 7;
    border-style: solid;
    border-color: #3F3F3F;
    border-width: 1px;
    border-radius: 5px;
    margin-left: -10px;
    position: fixed;
    padding: 10px;
}

.lo_head{
  background-color: white;
    height: 100px;
    width: 101%;
    z-index: 7;
    border-style: solid;
    border-color: #3F3F3F;
    border-width: 1px;
    border-radius: 5px;
    margin-left: -10px;
    position: fixed;
    padding: 10px;
    top:-15px;
}

.nu_en_header{
 background-color: white;
    height: 100px;
    width: 101%;
    z-index: 7;
    border-style: solid;
    border-color: #3F3F3F;
    border-width: 1px;
    border-radius: 5px;
    margin-left: -10px;
    position: fixed;
    padding: 10px;
    top:-15px; 
}
img.in_logotipo {
    width: 120px;
    position: fixed;
    left: 80px;
    margin: 20px;
    z-index: 5;
    margin-top: 37px;
    position: fixed;
}

.in_mas {
    width: 50px;
    position: fixed;
    left: 220px;
    margin: 20px;
    z-index: 5;
    margin-top: 35px;
    position: absolute;
   -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.in_mas:visited{
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#in_menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 20px;
  
  z-index: 5;
  
  -webkit-user-select: none;
  user-select: none;
}

#in_menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 5; 
  
  -webkit-touch-callout: none;
}



#in_menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 4;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#in_menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#in_menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transformacion en cruz hola
 */
#in_menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * Escondemos la de en medio
 */
#in_menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 *Y la otra al opuesto, para que sea una cruz
 */
#in_menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Lo posicionamos guay
 */
#in_menu
{
  position: absolute;
    width: 100%;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#in_menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * hacemos que aparezca rollo fade desde la izquierda
 */
#in_menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}


}
@media (max-width:1424px) {
  .in_contiene {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    /* column-width: 320px; */
    /* column-gap: 15px; */
    /* column-count: 2; */
    margin: 0;
    margin-top: -40px;
}
.in_coleft {
    column-width: 320px;
    column-gap: 15px;
    column-count: 1;
    width: 100%;
    /* max-width: 1100px; */
    margin: auto;
    margin-left: 20px;
    margin-top: 55px;
}
}
@media (max-width: 687px){
.in_colright {
    column-width: 10px;
    column-gap: 15px;
    column-count: 1;
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
}



.in_pagination {
    display: inline-block;
    position: relative;
    width: 100%;

}

.in_pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.in_pagination a.in_active {
    background-color: #393939;
    color: white;
    border-radius: 5px;
}

.in_pagination a:hover:not(.in_active) {
    background-color: tomato;
    color:white;
    border-radius: 5px;
}

/*INDEX*/


/*LOGIN*/
@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway|Roboto');
body{
  background: #F4F4F4;
   
}
/*
.colrigth{
     display: flex;
    
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
}
*/




/*HEADER*/




.lo_mas{
  width: 60px;
    position: fixed;
    left: 140px;
    margin: 20px;
    z-index: 5;
    margin-top: 10px;
    position: fixed;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.lo_mas:hover{
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
img.lo_logotipo {
    width: 120px;
    position:fixed;
    left: 0px;
    margin: 20px;
    z-index: 5;
    margin-top: 15px;
    position: fixed;
}
.lo_titulopag{
   font-family: 'Roboto',sans-serif;
    color: #424141;
    width: auto;
    font-size: -webkit-xxx-large;
    margin: 20px;
        position: absolute;
    left: 0px;
    z-index: 5;
    position: fixed;
}

/*HEADER*/

main{
    /* margin-top: 00px; */
    position: relative;
    top: 90px;
}


#leftu{
    float: right;
}













/*COMMENTS*/





/*HEADER*/

/*HAMBURGUESA*/
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * All rights reserved
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
 /* Footer */

.lo_footer>h4{

}

.lo_copyright{

  font-family: 'Mada', sans-serif;
  font-size: 100%;
  color:#2E2E2E;
  text-align: center;
  background: #edeeee;
  padding: 2.5%;
  margin: 0 !important;
  bottom:0;

}

.iconset-mail-alt{
  margin-right: 5%;
}

.iconset-phone{
  margin-right: 3%;
}


.lo_footer a{
  text-decoration: none;
  color: white;
}

.lo_footer a:visited{
  color: white;
}

.lo_footer a:hover{
  color: tomato;
}

.lo_footer {
        position: relative;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
    background-color: #403f3f;
    bottom: 0;
    width: 110%;
    left: 0;
    padding-top: 1%;
    margin-left: -10px;
    border-style: solid;
    border-color: #363636;
    margin-top: 200px;
    border-radius: 5px;
    bottom: -50px;
}

.lo_contacto h4,p{

margin: 1% ;

}

/*Footer*/

@media (max-width:916px) {
header{
  
}
img.lo_logotipo {
    width: 120px;
    position: fixed;
    left: 80px;
    margin: 20px;
    z-index: 5;
    margin-top: 37px;
    position: fixed;
}

.lo_mas {
    width: 50px;
    position: fixed;
    left: 220px;
    margin: 20px;
    z-index: 5;
    margin-top: 35px;
    position: absolute;
   -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.lo_mas:visited{
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}


#lo_menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 20px;
  
  z-index: 5;
  
  -webkit-user-select: none;
  user-select: none;
}

#lo_menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 5; 
  
  -webkit-touch-callout: none;
}



#lo_menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 4;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#lo_menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#lo_menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transformacion en cruz
 */
#lo_menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * Escondemos la de en medio
 */
#lo_menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 *Y la otra al opuesto, para que sea una cruz
 */
#lo_menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Lo posicionamos guay
 */
#lo_menu
{
  position: absolute;
    width: 100%;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#lo_menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * hacemos que aparezca rollo fade desde la izquierda
 */
#lo_menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}


}
@media (max-width:1424px) {

}
@media (max-width: 687px){

}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.lo_login {
    /* padding: 8% 0 0; */
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;

}
.lo_form {
     position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0);
    /* max-width: 360px; */
    margin: 0;
    margin: auto;
    padding: 45px;
    text-align: center;
    border-style: solid;
    border-color: #403f3f;
    border-radius: 5px;
    
}
.lo_form input {
 font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    /* border: 0; */
    margin: 0 0 15px;
    padding: 15px;
    /* box-sizing: border-box; */
    font-size: 14px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}
.lo_form button {
      font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    /* outline: 0; */
    background: rgba(255, 255, 255, 0);
   
    /* border: 0; */
    padding: 15px;
    padding-right:30px;
    padding-left:30px;
    color: #403f3f;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-style: solid;
    border-color: #403f3f;
    border-width: 1px;
    border-radius: 5px;
}
.lo_form button:hover,.lo_form button:active,.lo_form button:focus {
     background: tomato;
    color: white;
    border: none;
    transition: 0.5s;
}
.lo_form .lo_message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.lo_form .lo_message a {
  color: tomato;
  text-decoration: none;
}
.lo_form .lo_register-form {
  display: none;
}
.lo_lo_container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.lo_container:before, .lo_container:after {
  content: "";
  display: block;
  clear: both;
}
.lo_container .lo_info {
  margin: 50px auto;
  text-align: center;
}
.lo_container .lo_info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.lo_container .lo_info span {
  color: #4d4d4d;
  font-size: 12px;
}
.lo_container .lo_info span a {
  color: #000000;
  text-decoration: none;
}
.lo_container .lo_info span .fa {
  color: #EF3B3A;
}

/*LOGIN*/

/*NUEVA ENTRADA*/
@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway|Roboto');
body{
  background: #F4F4F4;
   
}
/*
.colrigth{
     display: flex;
    
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
}
*/




/*HEADER*/




.nu_en_mas{
  width: 60px;
    position: fixed;
    left: 140px;
    margin: 20px;
    z-index: 5;
    margin-top: 10px;
    position: fixed;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.nu_en_mas:hover{
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
img.nu_en_logotipo {
    width: 120px;
    position:fixed;
    left: 0px;
    margin: 20px;
    z-index: 5;
    margin-top: 15px;
    position: fixed;
}
.nu_en_titulopag{
   font-family: 'Roboto',sans-serif;
    color: #424141;
    width: auto;
    font-size: -webkit-xxx-large;
    margin: 20px;
        position: absolute;
    left: 0px;
    z-index: 5;
    position: fixed;
}

/*HEADER*/

 


#leftu{
    float: right;
}













/*COMMENTS*/





/*HEADER*/

/*HAMBURGUESA*/
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * All rights reserved
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
 /* Footer */

.nu_en_footer>h4{

}

.nu_en_copyright{

  font-family: 'Mada', sans-serif;
  font-size: 100%;
  color:#2E2E2E;
  text-align: center;
  background: #edeeee;
  padding: 2.5%;
  margin: 0 !important;
  bottom:0;

}

.iconset-mail-alt{
  margin-right: 5%;
}

.iconset-phone{
  margin-right: 3%;
}


.nu_en_footer a{
  text-decoration: none;
  color: white;
}

.nu_en_footer a:visited{
  color: white;
}

.nu_en_footer a:hover{
  color: tomato;
}

.nu_en_footer {
        position: relative;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
    background-color: #403f3f;
    bottom: 0;
    width: 110%;
    left: 0;
    padding-top: 1%;
    margin-left: -10px;
    border-style: solid;
    border-color: #363636;
    margin-top: 200px;
    border-radius: 5px;
    bottom: -50px;
}

.nu_en_contacto h4,p{

margin: 1% ;

}

/*Footer*/

@media (max-width:916px) {

img.nu_en_logotipo {
    width: 120px;
    position: fixed;
    left: 80px;
    margin: 20px;
    z-index: 5;
    margin-top: 37px;
    position: fixed;
}

.nu_en_mas {
    width: 50px;
    position: fixed;
    left: 220px;
    margin: 20px;
    z-index: 5;
    margin-top: 35px;
    position: absolute;
   -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.nu_en_mas:visited{
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#nu_en_menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 20px;
  
  z-index: 5;
  
  -webkit-user-select: none;
  user-select: none;
}

#nu_en_menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 5; 
  
  -webkit-touch-callout: none;
}



#nu_en_menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 4;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#nu_en_menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#nu_en_menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transformacion en cruz
 */
#nu_en_menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * Escondemos la de en medio
 */
#nu_en_menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 *Y la otra al opuesto, para que sea una cruz
 */
#nu_en_menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Lo posicionamos guay
 */
#nu_en_menu
{
  position: absolute;
    width: 100%;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#nu_en_menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * hacemos que aparezca rollo fade desde la izquierda
 */
#nu_en_menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}


}
@media (max-width:1424px) {

}
@media (max-width: 924px){

}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.nu_en_login {
     /* padding: 8% 0 0; */
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    width: 100%;
    /* margin-left: 70px; */
}
.nu_en_form {
       position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0);
    /* max-width: 360px; */
    margin: 0;
    margin: auto;
    padding: 45px;
    width: 50%;
    text-align: center;
    border-style: solid;
    border-color: #403f3f;
    border-radius: 5px;
    
}
.nu_en_form input {
     font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 80%;
    /* border: 0; */
    margin: 0 0 15px;
    padding: 15px;
    /* box-sizing: border-box; */
    font-size: 14px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}
.nu_en_form button {
      font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    /* outline: 0; */
    background: rgba(255, 255, 255, 0);
   
    /* border: 0; */
    padding: 15px;
    padding-right:30px;
    padding-left:30px;
    color: #403f3f;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-style: solid;
    border-color: #403f3f;
    border-width: 1px;
    border-radius: 5px;
}
.nu_en_form button:hover,.nu_en_form button:active,.nu_en_form button:focus {
     background: tomato;
    color: white;
    border: none;
    transition: 0.5s;
}
.nu_en_form .nu_en_message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.nu_en_form .nu_en_message a {
  color: tomato;
  text-decoration: none;
}

.nu_en_container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.nu_en_container:before, .nu_en_container:after {
  content: "";
  display: block;
  clear: both;
}
.nu_en_container .nu_en_info {
  margin: 50px auto;
  text-align: center;
}
.nu_en_container .nu_en_info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.nu_en_container .nu_en_info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.nu_en_container .nu_en_info span .fa {
  color: #EF3B3A;
}

.nu_en_titulo{
    margin: 0;
    padding-right: 0;
    padding-left: 10px;
    /* text-align: center; */
    font-family: 'Roboto', sans-serif;
    color: #c7c3c3;
    text-transform: uppercase;
    font-size: 2em;
    margin: 10px;
    margin-bottom: 50px;
}

.nu_en_box{
    border-style: solid;
    border-radius: 5px;
    margin: 15px;
    background: #e4e4e4;
}
.nu_en_img{
      height: 300px;
    width: 80%;
    max-width: 560px;
    overflow: hidden;
    margin: auto;
    border-radius: 5px;
}
.nu_en_inimg{
 
}
.nu_en_overlay {
     /* width: 150%; */
    margin: auto;
    margin-top: 20px;
}

.nu_en_img:hover{

}
.nu_en_item {
     margin: 10px;
     margin-top: 30px;
}
.nu_en_adddel{
      font-size: 2em;
    /* background: white; */
    margin: 5px;
    margin: auto;
    width: 79%;
    margin-top: 10px;
    max-width: 559px;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
}
.nu_en_adddel:hover {
  background-color: #575757;
  border-style: none; 
  color:white;
  transition: 0.5;
}


.nu_en_adddelcont {
  
}
textarea.nu_en_textarea {
width: 79%;
    margin: auto;
    max-width:  559px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    border-width: 1px;
}
/*NUEVA ENTRADA*/


/*ENTRADA*/
@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway|Roboto');
body{
  background: #F4F4F4;
   
}
/*
.colrigth{
     display: flex;
    
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
}
*/




/*HEADER*/




/***************************ENTRADA***************************/
/***************************ENTRADA***************************/
/***************************ENTRADA***************************/

/***************************ENTRADA***************************/


.en-nav ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
    border-style: solid;
    border-color: #424141;
    border-radius: 5px;
    background: white;
    width: 101%;
    z-index: 3;
    position: absolute! important;
}

.asociado{
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

.en-contain{
background-color: #777777;
justify-content: space-between;
display:flex;


}

.en-asociado{

  background-color: #454545;
}

.en-expli{
  font-family: 'Roboto', sans-serif;
  background-color: #323232;
  margin-top: 0% !important;
  margin-left: 0% !important;
  margin-right: : 0% !important;
  padding: 2%;
  color: #c7c3c3;
  text-align: justify;
  margin-bottom: 4%;
  
}

.rows{
  color:white;
  font-size: 4em;
  font-family: 'Dosis', sans-serif;
  z-index: 2;
}

.en-flech{
  opacity: 0.1;
  width:15%;
  
  background-color: #454545;
  display: flex;
  align-items: center;
  justify-content: center;
}

.en-flech:hover{
  opacity: 0.65;
}

.en-info3{

top: -50px;
    position: relative;
    padding: 5px;
    border: 1px solid #777777;
    border-radius: 2px;
    color: #585858;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 5px;
    float: right;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
      justify-content: center;
      display:flex;

}

@media (max-width:616px) {
.en-profinfo{
top: -50px;
  }
}

.en-h{
width: auto;
    font-family: 'Roboto', sans-serif;
    color: #282828;
    text-transform: uppercase;
    margin-left: 2.5%;

}

.en-capt{
  
}

.en-imagen{
  
max-height: 500px;
border-radius: 3%;
width: 100%;
    margin: auto;

}

.en-imagencont{
  
width: 100%;
    margin: auto;

}




/*BOTON RESPONDER*/

.en-ficha{
  
 
  
  

  border-radius: 10px;
 border-width: 2px;
 border-style:solid;
 border-color:#373737
  
}

.en-responder{
  outline: none;
  cursor: pointer;
  display: block;
position: relative;
    padding: 5px;
    border: 1px solid #777777;
    border-radius: 2px;
    color: #585858;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: block;
    opacity: 0.65;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 5px;
     width:40%;
     left:30%;
     font-family: 'Roboto', sans-serif;

}
.en-responder + input{
  display: none; /* hide the checkboxes */
  outline:none;
}
.en-responder + input + div{
  outline:none;
  display:none;
}
.en-responder + input:checked + div{
  outline:none;
  display:block;



}

.en-ticom{
  width:93%;
  margin-left:3.3%;
  font-family: 'Oswald', sans-serif;
     font-size: 80%;
  outline:none;
  border:.25em solid #bbb;
  border-radius:.5em;
  padding-left: 3%;
  padding: .25%;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
     
   
}

.en-ticom:focus{
  border:.25em solid tomato;
}

.en-area:focus{
  border:.25em solid tomato;
}

.en-enviar{
  font-family: 'Oswald', sans-serif;
     display:block;
     font-size: 90%;
     width:90%;
     line-height:1.7;
     margin: 1%;
  padding:1% 4%;
  outline:none;
  border:.25em solid #bbb;
  border-radius:1em;
  margin-left:5%;
  display:inline-block;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;


font-size: 100%;
  width:20%;
  margin-left:40%;
  border-radius:1em;
  background:tomato;
  border:none;
  color:white;
  cursor:pointer;
  display:inline-block;

}


.re-enviar:hover {
  opacity:0.8;
}

.re-enviar:active {
  opacity:0.4;
}




.en-area{
  margin-top: .5%;
  width:93%;
  margin-left:3.3%;
  font-family: 'Oswald', sans-serif;
     font-size: 80%;
  outline:none;
  border:.25em solid #bbb;
  border-radius:.5em;
  padding-left: 3%;
  padding: .25%;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}

.en-coment{
    
    margin: 0;
    margin-bottom:5px;
    border-radius: 5px;
    width: 95%;
    border-width: 1.5px;
 border-style:solid;
 border-color:#373737;
 margin-left:2.5%;
 

}

.en-tituloficha{

    padding: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: 5px;
    color: tomato;
    font-family: 'Roboto', sans-serif;


  


}

.en-profinfo{
         position: relative;
    padding: 5px;
    width: 100px;
    top: -37px;
    right: 0px;
    border: 1px solid #777777;
    border-radius: 2px;
    color: #585858;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 5px;
    float: right;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}

.en-responder:hover{
border: 1px solid tomato;
color:tomato;
}

.en-respuesta{
 
}


/***************************ENTRADA***************************/
/***************************ENTRADA***************************/
/***************************ENTRADA***************************/



.mas{
  width: 60px;
    position: fixed;
    left: 140px;
    margin: 20px;
    z-index: 5;
    margin-top: 10px;
    position: fixed;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.mas:hover{
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
img.logotipo {
    width: 120px;
    position:fixed;
    left: 0px;
    margin: 20px;
    z-index: 5;
    margin-top: 15px;
    position: fixed;
}
.titulopag{
   font-family: 'Roboto',sans-serif;
    color: #424141;
    width: auto;
    font-size: -webkit-xxx-large;
    margin: 20px;
        position: absolute;
    left: 0px;
    z-index: 5;
    position: fixed;
}
ul {
    list-style-type: none;
    margin: 0;
    margin-left: -10px;
    margin-top: -35px;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
    border-style: solid;
    border-color: #424141;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: fixed;
    background: white;
    width: 101%;
    z-index: 3;
}

li {
    float: left;
}

li a {
   display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 25px;
    text-decoration: none;
    height: 20px;
    border-style: solid;
    font-family: 'Roboto',sans-serif;
    color: #424141;
    border-radius: 5px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: tomato;
    color:white;
    

}
a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}
/*HEADER*/


.contiene {
    display: flex;
    padding: 0;
    /* column-width: 320px; */
    /* column-gap: 15px; */
    /* column-count: 2; */
    margin: 0;
    margin-top: -40px;
}

#leftu{
    float: right;
}
.colright{
     column-width: 320px;
    column-gap: 15px;
    column-count: 3;
    max-width: 1000px;
    margin: 50px auto;
    display: inline-block;
    /* width: 40%; */
}
.coleft{
        column-width: 320px;
    column-gap: 15px;
    column-count: 2;
    width: 30%;
    display:inline-block;
    /* max-width: 1100px; */
    margin: 0;
    margin-top: 55px;
}
.col1{
    display: inline-block;
    float: left;
}
.imgs{
  float: left;
  width:100%;
  padding: 0;
  margin:0;
  background-color: #2F2F2F;
  border-radius: 7px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #191919;
}
.overlay{
    display: block;
    position: absolute;
    justify-content: center;
    margin: 0;
    width: 20em;
    margin-left: 0;
    opacity: 0;
    border-radius: 7px;
}
.texto{
      display: block;
    text-align: center;
    width: auto;
    font-family: 'Roboto', sans-serif;
    color: #282828;
    text-transform: uppercase;
    pointer-events: none;
  
}
.info2{
     position: relative;
    padding: 5px;
    border: 1px solid #777777;
    border-radius: 2px;
    color: #585858;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 5px;
    float: right;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
      justify-content: center;
    display: flex;
   
}
.info3{
     position: relative;
    padding: 5px;
    border: 1px solid #777777;
    border-radius: 2px;
    color: #585858;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 5px;
    float: right;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
      justify-content: center;
    display: flex;
   
}

.contain:hover + .overlay{
  opacity: 1;
  transition: 0.5s;
}
.contain:hover{
  opacity: 0.1;
  transition: 0.3s;
}
.overlay:hover{
  opacity:1;
  background-color: white;
  background-color: rgba(255, 255, 255,0.8);
  transition: 0.5s;
}

.ficha{
  
  padding: 0px;
  width:20em;
  margin:5px;

  border-radius: 10px;
 border-width: 1,5px;
 border-style:solid;
 border-color:#373737;
   display: inline-block;
  
}
.line {
    width: 100px;
    position: relative;
    display: inline-block;
    margin-top:10px;
    padding: 0;
    left: 15px;
}
.tituloficha {
    padding: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: 5px;
    color: #454545;
    font-family: 'Roboto', sans-serif;
}
.tituloficha>span{
  color: #6C6C6C
}
figcaption{
display: inline-block;
}
figure{
  margin: 0;
}
.capt{
  
}
.descripcion{
     /* border: 1px solid #000; */
    text-align: center;
    height: 0px;
    position: relative;
    /* width: 290px; */
    top: 10px;
    /* bottom: 15em; */
    /* justify-content: center; */
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    color: #282828;
    text-transform: uppercase;
    display: none;
    margin: 0px;
    /* margin-left: 20px; */
   
}
.imgs:hover + .descripcion{
  transition: 0.5s;
  display: block;
}
.desc{
      /* justify-content: center; */
    margin: 0;
    padding-right: 0;
    padding-left: 10px;
    /* text-align: center; */
    font-family: 'Roboto', sans-serif;
    color: #c7c3c3;
    text-transform: uppercase;
    font-size: 2em;
    margin: 10px;
}
.info{
      position: relative;
    padding: 5px;
    border: 1px solid #777777;
    border-radius: 2px;
    color: #585858;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 5px;
    float: right;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}

.profinfo{
         position: relative;
    padding: 5px;
    width: 100px;
    top: -37px;
    right: 0px;
    border: 1px solid #777777;
    border-radius: 2px;
    color: #585858;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: inline-block;
    opacity: 0.65;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 5px;
    float: right;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}




/*COMMENTS*/
.comentname{
   margin: 0;
    margin-left: 35px;
    margin-bottom:10px; 
     font-family: 'Roboto', sans-serif;
      color:tomato;
}
.coment{
    
    margin: 0;
    margin-bottom:5px;
    border-radius: 5px;
    width: 98%;
    border-width: 1.5px;
 border-style:solid;
 border-color:#373737;
 height: 240px;

}
.fecha{
    margin: 0;
    margin-left: 35px;
    margin-bottom:10px; 
     font-family: 'Roboto', sans-serif;
      color:#3E3E3E;
}
.profo{
width: 60px;
height: auto;
border-radius: 50%;
border: solid;

margin: 10px;
margin-left: 30px;
}
.cobox{
  max-width: 100%;
  height: 40px;
}
.coparraf{
 
       justify-content: space-around;
    margin: 0;
    padding-right: 35px;
    padding-left: 35px;
    text-align: justify;
     font-family: 'Roboto', sans-serif;
      color:#3E3E3E;
         white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

}

a.colink{
   
  
     position: relative;
    padding: 5px;
    border: 1px solid #777777;
    border-radius: 2px;
    color: #585858;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 10px 0;
    display: block;
    opacity: 0.65;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 5px;
     /* float: right; */
    margin-right: 10px;
    margin-left: 10px;
     font-family: 'Roboto', sans-serif;

      
}

.profoname{
    margin: 0;
    margin-left: 35px;
    margin-bottom:10px; 
     font-family: 'Roboto', sans-serif;
      color:#3E3E3E;
}

/*HEADER*/

/*HAMBURGUESA*/
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * All rights reserved
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
 /* Footer */

.footer>h4{

}

.copyright{

  font-family: 'Mada', sans-serif;
  font-size: 100%;
  color:#2E2E2E;
  text-align: center;
  background: #edeeee;
  padding: 2.5%;
  margin: 0 !important;
  bottom:0;

}

.iconset-mail-alt{
  margin-right: 5%;
}

.iconset-phone{
  margin-right: 3%;
}


.footer a{
  text-decoration: none;
  color: white;
}

.footer a:visited{
  color: white;
}

.footer a:hover{
  color: tomato;
}

.footer {
    position: relative;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
    background-color: #403f3f;
    bottom: 0;
    width: 100%;
    left: 0;
    padding-top: 1%;
    border-style: solid;
    border-color: #363636;
    margin-top: 100px;
    border-radius: 5px;
}

.contacto h4,p{

margin: 1% ;

}
p.descripcion{
  margin: 0;
}
/*Footer*/

@media (max-width:916px) {
header{
    background-color: white;
    height: 100px;
    width: 101%;
    z-index: 7;
    border-style: solid;
    border-color: #3F3F3F;
    border-width: 1px;
    border-radius: 5px;
    margin-left: -10px;
    position: fixed;
    padding: 10px;
}
img.logotipo {
    width: 120px;
    position: fixed;
    left: 80px;
    margin: 20px;
    z-index: 5;
    margin-top: 37px;
    position: fixed;
}

.mas {
    width: 50px;
    position: fixed;
    left: 220px;
    margin: 20px;
    z-index: 5;
    margin-top: 35px;
    position: absolute;
   -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.mas:visited{
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 20px;
  
  z-index: 5;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 5; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 4;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
    width: 100%;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}


}
@media (max-width:1424px) {
  .contiene {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    /* column-width: 320px; */
    /* column-gap: 15px; */
    /* column-count: 2; */
    margin: 0;
    margin-top: -40px;
}
.coleft {
    column-width: 320px;
    column-gap: 15px;
    column-count: 1;
    width: 100%;
    /* max-width: 1100px; */
    margin: auto;
    margin-left: 20px;
    margin-top: 55px;
}
}
@media (max-width: 687px){
.colright {
    column-width: 10px;
    column-gap: 15px;
    column-count: 1;
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
}



.pagination {
    display: inline-block;
    position: relative;
    width: 100%;

}
/*hello*/
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #393939;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: tomato;
    color:white;
    border-radius: 5px;
}
/*ENTRADA*/
